<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner d-flex" style="height: 50vh; min-height: 20rem; max-height: 30rem">
    <div *ngFor="let image of carDetails; let i = index" [ngClass]="getSliderClassName(i)" style="height: 100%; width: 100%">
      <img src="{{ imageUrl }}/{{ image.imagePath }}" class=""
      style="height: 100%; width: 100%; object-fit: contain"
      alt="imageUrl + image.imagePath" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="bukstton" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span> 
  </button>
</div>

<table *ngIf="dataLoaded != false" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Model Year</th>
      <th>Daily Price</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let carDetail of carDetails">
    <td>{{ carDetail.carId }}</td>
    <td>{{ carDetail.brandName }}</td>
    <td>{{ carDetail.colorName }}</td>
    <td>{{ carDetail.modelYear }}</td>
    <td>{{ carDetail.dailyPrice }}€</td>
    <td>{{ carDetail.description }}</td>
    <br>
    <button (click)="setButtonHomePage(currentCar)"
    routerLink="/cars" 
    [class]="getButtonHomePageClass(currentCar)"
    type="button" class="btn btn-primary">Home Page</button>
    </tr>
</table>
