<div *ngIf="dataLoaded == false" class="d-flex align-items-center">
  <strong>Loading...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<table *ngIf="dataLoaded == true" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand Name</th>
      <th scope="col">Company Name</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Daily Price</th>
      <th scope="col">Rent Date</th>
      <th scope="col">Return Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <th scope="row">{{ rental.id }}</th>
      <td>{{ rental.brandName }}</td>
      <td>{{ rental.companyName }}</td>
      <td>{{ rental.firstName }} {{rental.lastName}}</td>
      <td>{{ rental.dailyPrice }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td>
    </tr>
  </tbody>
</table>
